.homes {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7rem;
    margin: 10vw 0;
}

.home {
    background-color: $color-grey-light-1;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    row-gap: 3.5rem;

    &__img {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 0;
    }

    &__like-btn {
        margin-right: 1rem;
        margin-top: 1rem;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: end;
        border: none;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        background-color: rgba($color-grey-light-1, 0.5);
        z-index: 2;
    }

    &__like-icon {
        display: grid;
        place-self: center;
        fill: $color-primary;
        width: 2.5rem;
        height: 2.5rem;
    }

    &__name {
        grid-row: 1/ 2;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: end;
        z-index: 3;
        width: 80%;
        font-family: $font-display;
        font-size: 1.6rem;
        text-align: center;
        padding: 1.25rem;
        background-color: $color-secondary;
        color: #fff;
        font-weight: 400;
        transform: translateY(50%);
    }

    &__location,
    &__rooms {
        margin-top: 2.5rem;
    }

    &__location,
    &__rooms,
    &__area,
    &__price {
        font-size: 1.5rem;
        margin-left: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        svg {
            fill: $color-primary;
            width: 2rem;
            height: 2rem;
        }
    }

    &__btn {
        grid-column: 1 / -1;
    }

}